.App {
  flex-wrap: wrap;
  margin: 15px;
  direction: rtl;
}


.Footer {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Set your desired background color */
  color: black;
  text-align: center;
  padding: 20px; /* Add some spacing around the content */
}


/* Add responsive styles for small screens */

@media screen and (max-width: 768px) {
   
}

