.Body {
    width: 97%;
    padding: 20px;
    right: 0;
    text-align: right;
    direction: rtl;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: wheat;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-y: auto;
  }

  @media screen and (max-width: 768px) {
    .Body{
        width: 95%;
    }
  }


