.projects-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}


.done-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e0e0e0;
    margin-left: 10px;
    box-shadow: 0 1px 4px rgba(221, 8, 8, 0.1);
    background-color:rgb(236, 230, 219);
}

.doing-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e0e0e0;
    margin-right: 10px;
    box-shadow: 0 1px 4px rgba(221, 8, 8, 0.1);
    background-color:rgb(236, 230, 219);
}

.containers-header {
    width: 99%;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-right: 10px;
    background-color: #9b7c59;
    color: white;
    text-align: right;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.inner-container {
    width: 90%;
    height: 300px;
    flex-direction: column;
    border: 2px solid #0c0b0b;
    border-radius: 5px;
    margin-top: 20px;
    padding-bottom: 10px;
    background-color: white;
}
.inner-container-header {
    width: 100%;
    display: flex;
    padding-bottom: 1px;
    background-color: #9e8e7b;
    color: white;
    text-align: right;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.inner-container-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.inner-container-body p{
    width: 60%;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
}
.inner-container-body img{
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}



@media screen and (max-width: 768px) {
    .projects-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .done-container {
        width: 100%;
        margin-left: 0;
        flex-wrap: wrap;
    }

    .doing-container {
        width: 100%;
        margin-top: 20px;
        margin-right: 0;
        flex-wrap: wrap;
    }

    
    .inner-container {
        display: flex; /* Ensure flexbox layout */
        flex-direction: row; /* Arrange children vertically */
        flex-wrap: wrap;
        height: 670px; /* Set a fixed height */
        flex-grow: 1; /* Allow vertical expansion */
        min-height: 0; /* Prevent collapsing when empty */
      }

      .inner-container-body p{
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        margin: 0;
        padding: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
    
      .inner-container img {
        max-width: 100%;
        height: auto; /* Maintain aspect ratio */
      }
}